<div class="form-group">
  <%= f.label :post %>
  <%= f.text_field :post, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :link %>
  <%= f.text_field :link, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :image_url %>
  <%= f.text_field :image_url, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :public_date %>
  <%= f.text_field :public_date, class: 'form-control' %>
</div>
